.non{
    background-color:rgba(255,134,54,0.5);
    width: 200px;
    height: 200px;
}

.ror{
    background-color:#DC143C;
    width: 200px;
    height: 200px;   
}

.pop{
    background-color:rgb(160,254,164);
    width: 200px;
    height: 200px;   
}

.hoh{
    background-color:rgba(21, 65, 185, 0.4);
    width: 200px;
    height: 200px;   
}